.todos_container,
.todo_list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.todo_item {
  color: white;
}
.todo_list a {
   font-size: 1.7rem;
   transition: 1s ease;
   background-color: black;
   width: max-content;
   border-radius: 10px;
   color: white;
   padding: 1rem;
 }
 
.todo_list a:hover {
  font-size: 2rem;
}
